@model IEnumerable<Tuple<String, JokesWebApp.Models.Joke>>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> Question </th>
            <th> Author </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item2.JokeQuestion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item1)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Item2.Id">Details</a>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (UserManager.GetUserId(User) == item.Item2.JokeAuthorId)
                        {
                            @(" | ")
                            <a asp-action="Edit" asp-route-id="@item.Item2.Id">Edit</a>
                            @(" | ")
                            <a asp-action="Delete" asp-route-id="@item.Item2.Id">Delete</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
